{% extends 'base.html' %}
{%load static%}
{%block styles%}
<link rel="stylesheet" href="{%static 'css/aboutus.css'%}">
{%endblock%}
{% block content %}
<div class="row">
    <div class="col-12 col-md-2">
        <p class="name">Dan Wood</p>
        <img src="{%static 'images/danwood.png'%}" alt="">
        <p class="description">Chief Wood began his career as a firefighter in October 1992. He was promoted to Driver
            in September 1994,
            Captain in April 2000, and his current position in July 2006. Chief Wood received his Paramedic
            certification in 2000, and he holds a Bachelor of Science in Computer Science from Arkansas Tech University.
        </p>
    </div>
    <div class="col-12 col-md-2">
        <p class="name">Scott Russell</p>
        <img src="{%static 'images/scottrussel.png'%}" alt="">
        <p class="description">Chief Russell began his career as a firefighter in May of 1992. In 1994, he was promoted
            to Lieutenant, and
            in 2000, he was promoted to Battalion Chief. In August of 2016, he was promoted to Fire Chief. Chief Russell
            holds a Bachelor of Science in Natural Science/Biology from Arkansas Tech University. He is currently
            enrolled in the Executive Fire Officer Program at the National Fire Academy.
        </p>
    </div>
    <div class="col-12 col-md-2">
        <p class="name">Mark Davidson</p>
        <img src="{%static 'images/markdavidson.png'%}" alt="">
        <p class="description">Chief Davidson began his career as a firefighter in 1992. He was promoted to Driver in
            March 2003, Captain in
            March 2009, and his current position in August 2019.
        </p>
    </div>
    <div class="col-12 col-md-2">
        <p class="name">Jessie McCoy</p>
        <img src="{%static 'images/jessiemccoy.png'%}" alt="">
        <p class="description">Chief McCoy began her career as a firefighter in 1993. She was promoted to Driver in 2000
            and Captain in 2007
            and to her current position in 2014. Chief McCoy holds a Bachelor of Science in Business Administration from
            Arkansas Tech University.
        </p>
    </div>
    <div class="col-12 col-md-2">
        <p class="name">Paulette Stone</p>
        <img src="{%static 'images/paulettestone.png'%}" alt="">
        <p class="description">Chief Stone began her career as a firefighter in October of 2007. In 2012 she was promoted to
            Driver, Captain
            in 2014, Battalion Chief in October of 2016. She moved to the Training Division in August of 2019. Chief
            Stone holds a Bachelor of Professional Studies in Public Administration/Fire Administration from the
            University of Memphis.
        </p>
    </div>
</div>
{% endblock %}