.btnWrapper{
    text-align: center;
}
.btn{
    background-color: #A80B1B;
}
#statusform{
    display: flex;
    flex-direction: row;
}
.btn-sm{
    margin-left: 10px;
}
.searchform .col-10{
    padding-left: 0!important;

}
form.form-inline.searchform input[type='submit']{
    margin-right: 10px!important;
    margin-left: 10px;

}
.searchFormContainer{
    display:flex; 
    justify-content:center;
    margin-bottom: 5vh;
    margin-top: 5vh;

}
#ageCol{
    padding-left: 0;
}
table a{
    color: black;
}
table a:hover{
    color: black;
    text-decoration: none;
}

h4{
    text-align: center;
}
@media only screen and (max-width: 1001px){
table:first-of-type{
    display: none;
}

table th{
    background-color: grey;

    color: white;
}
table{
    border-color: gray;

    background-color: #ddd9d2;
    
}
tbody tr{
    background-color: #ddd9d2;
}
.tableColumn{
    padding: 0;
}

.mobilesearchform input[type="search"]{
    height: 45px;
flex: 1;
border-radius: 0;


}
.mobilesearchform{
    background-color: gray;


}

.mobilesearchform div:first-of-type{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: flex-start;

}
.searchform{
    display: none;
}
.searchFormContainer{
    display: none!important;
}
td{
    border: 1px solid white;
}

}


@media only screen and (min-width: 1001px){
table:not(:first-of-type){
    display: none
}
.mobilesearchform{
    display: none;
}
tbody tr:nth-of-type(odd){
    background-color: lightgray;
}
}
