<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load static %}

<style>
    footer {
        background-color: #034f7f;
        color: #d8ca7b;
        height: 80px;
        margin-top: 20px;
    }

    #contact { /* For the bar of information */
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact a {
        margin-right: 15px;
        margin-left: 15px;
    }

    #admin { /* For the admin button */
        height: 20px;
        margin-top: -25px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
</style>

<footer>
    <div id="contact">
        <a>
            <img src="{% static 'images/phone.png' %}" width="30" height="30">
            (479) 968-4472
        </a>
        <a>
            1432 Crow Mountain Rd, Russellville, AR 72802
        </li>
        <a>
            <img src="{% static 'images/email_OG.png' %}" width="30" height="30">
            contactus@crowmntfire.com
        </a>
    </div>

    <div id="admin">
        <a href="{% url 'login' %}">Admin</a>
    </div>
</footer>