<div class="container-fluid bg-danger">
    <h1 class="text-danger">hello</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
<div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/educational">Educational</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/burnnotice">Burn Notice</a>
        </li>
      </ul>
    </div>
  </nav>