<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load static %}

<style>
    #title { /* For the Crow Mnt title */
        background-color: #be1d2c;
        color: #d8ca7b;
        height: 100px;
        display: flex;
        justify-content: center;
        word-wrap: none;
    }

    #title h1 {
        font-size: 2.5em;
    }

    #bar { /* For the navbar itself */
        background-color: #034f7f;
        color: #d8ca7b;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    #bar a {
        color: #d8ca7b;
    }
</style>

<nav>
    <!-- Header -->
    <div id="title">
        <h1>CROW MOUNTAIN FIRE DEPARTMENT</h1>
    </div>

    <!-- List of links across navbar -->
    <div id="bar">
            <a class="navbar-brand" href="{% url 'aboutus' %}">About Us</a>
        
            <a class="navbar-brand" href="{% url 'contactus' %}">Contact Us</a>
        
            <a class="navbar-brand" href="{% url 'volunteer' %}">Volunteer</a>
        
            <a href="{% url 'index' %}"><img src="{% static 'images/logo_centered.png' %}" height="150"></a>
        
            <a class="navbar-brand" href="{% url 'burnnotice' %}">Burn Notice</a>
        
            <a class="navbar-brand" href="{% url 'events' %}">Events</a>
        
            <a class="navbar-brand" href="{% url 'educational' %}">Educational</a>
    </div>
</nav>