{% extends 'base.html' %}
{%load static%}
{%block styles%}
<link rel="stylesheet" href="{%static 'css/volunteer.css'%}">
{%endblock%}

{% block content %}
 
        {% comment %} {% if messages %} {% endcomment %}
          {% for message in  messages%}

      {% if "firstname" in message.tags%}
      <div class="modal " id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <img src="{%static 'images/crowmtnlogo.png'%}" width='100' height='90'>
            </div>
            <div class="modal-body">
              <p>Thank you, {{message}}</p>

{% endif %}
        {% endfor %}

          {% for message in  messages%}

            {% if "email" in message.tags%}
              <p class="{{message.tags}}">Your form has been sucessfully submitted and a confirmation email was sent to <span>{{message}}<span> </p>
            {% endif %}
            {% if 'error' in message.tags%}
              <p class="{{message.tags}}">Unfortunatelly there was an error and your form was not submiteed </p>
            {% endif %}
        {% if "firstname" in message.tags%}
          </div> 
          <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
          </div>    
          </div>
        </div>
      </div>
      {% endif %}
        {% endfor %}
        {% comment %} {% endif %} {% endcomment %}
      
<div class="container">
    <div class="row ">
        <div class="col mobile">
            <img src="../../../static/images/overlappedimg.png"  alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
          {% for message in  messages%}
        {% if "updatesucess" in message.tags%}
        <div class="alert alert-success updatesuccessmsg" id='updatesuccessmsg' role="alert">
        <h6 >{{message}}</h6>
        </div>
        {% endif %}
        {% endfor %}
        {% for message in  messages%}
        {% if "updateerror" in message.tags%}
        <div class="alert alert-success updatesuccessmsg" role="alert">
        <h6 >{{message}}</h6>
        </div>
        {% endif %}
        {% endfor %}
            <h2>Become a Volunteer </h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
    <div class="row btnsRow">
        <div class="col-md-4">
            <img src="../../../static/images/volunteersss-1.png" width="300" height="300" alt="">
        </div>
        <div class="col-md-4" id="mainBtns">
            <p><a href="/volunteer/form" role="button" class="btn btn-danger">Volunteer Form</a></p>
             <p>OR</p>
            <p>Update existing Volunteer Request</p>
            <form method="POST" id ='volunteerIDForm' action="/volunteer/">
                {% csrf_token %}
                
                <input type="hidden" name="came_from" value="volunteerIDForm">
                <input type="text" placeholder="Volunteer ID"  class="form-control mx-small-2" name="volunteerID">
                
                {% if errormsg != ""%}
                 <div class="alert " role="alert">
                {{errormsg}}
                </div>
               {% endif %}

                <button  type="submit" class="btn btn-danger ">Update Form</a>
            </form>

        </div>
        <div class="col-md-4">
            <img src="../../../static/images/volunteersss.png" width="300" height="300"  alt="">
        </div>
    </div>
</div>

  
<script type="text/javascript" src="{% static 'js/volunteer.js' %}"></script>

 
{% endblock %}

 